// min-width: 1100px and min-height: 820px
@media (min-width: 68.75rem) and (min-height: 51.25rem) {
  html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  body {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  .plan-card {
    width: 35rem;

    button {
      width: 28.6rem;
    }

    li {
      width: 29.4rem;
    }
  }

  .pricing-components {
    flex-direction: row;
    gap: 0;
  }

  .professional-plan-card {
    height: 49.8rem;

    .plan-name {
      margin-top: 2.4rem;
    }
    button {
      bottom: 5.4rem;
    }
  }

  .pricing {
    margin: 0 2.4rem;
  }
}

// min-width: 1100px and max-height: 819px
@media (min-width: 68.75rem) and (max-height: 51.1875rem) {
  .plan-card {
    width: 350px;

    button {
      width: 28.6rem;
    }

    li {
      width: 29.4rem;
    }
  }
  .pricing-components {
    flex-direction: row;
    gap: 0;
  }

  .professional-plan-card {
    height: 49.8rem;

    .plan-name {
      margin-top: 2.4rem;
    }
    button {
      bottom: 5.4rem;
    }
  }
}

// max-width: 1100px
@media (max-width: 68.75rem) {
  .pricing-components {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.2rem;
  }
}

// max-width: 850px
@media (max-width: 53.125rem) {
  body {
    background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
    background-position: 60vw top, left bottom;
    background-repeat: no-repeat;
  }
}

// max-width: 550px
@media (max-width: 34.375rem) {
  body {
    background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
    background-position: 50vw -5vh, left bottom;
    background-repeat: no-repeat;
  }
}
