@import 'css-reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(/images/bg-top.svg), url(/images/bg-bottom.svg);
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  background-color: hsl(240, 78%, 98%);
}

/* ----- Section + header ----- */
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6.4rem 2.4rem;

  h1 {
    width: fit-content;
    margin-bottom: 4rem;
    font-size: 3.4rem;
    color: hsl(233, 13%, 49%);
  }
}

@import 'toggle-switch';

/* ----- Toggle price ----- */
.price-toggler {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  margin-bottom: 6.2rem;
  color: hsl(234, 14%, 74%);
  font-size: 1.6rem;
}

/* ----- Three Cards ----- */
.pricing-components {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
}

/* ----- Card ----- */
.plan-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 45.4rem;
  width: 32.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  text-align: center;
  padding: 3.2rem 2.8rem;
  background-color: white;

  .plan-name {
    font-size: 1.9rem;
    color: hsl(233, 13%, 49%);
  }

  .price-tag {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.8rem;
    margin-top: 2rem;
    margin-bottom: 2.6rem;
    color: hsl(232, 13%, 33%);

    span {
      font-size: 4.2rem;
      margin-right: 0.4rem;
    }
  }

  button {
    height: 4.4rem;
    width: 27rem;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 0.5rem;
    font-size: 1.4rem;
    position: absolute;
    bottom: 3.2rem;
    cursor: pointer;
    color: white;

    &:active {
      transform: scale(0.95);
    }
  }

  .plan-features {
    font-size: 1.6rem;
    color: hsl(233, 13%, 49%);

    li {
      border-top: 1px solid hsl(234, 14%, 74%);
      padding: 1.6rem 0;
      width: 27.2rem;
      &:nth-child(3) {
        border-bottom: 1px solid hsl(234, 14%, 74%);
      }
    }
  }
}

/* ----- Middle Card Styling ----- */
.professional-plan-card {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

  .price-tag {
    color: #fff;
  }

  .plan-name {
    color: #fff;
  }

  .plan-features {
    color: #fff;
  }

  button {
    background: #fff;
    color: #8484de;
  }
}

@import 'media';
@import 'scale';
